<div class="bg-[#f5f4fc]">
  <div class="work-section-content pt-[12rem] pb-[8rem]">
    <h1 class="text-[4rem] sm:text-[5rem] font-[700] text-[#474747] flex justify-center">
      <span class="text-[#7c7b7e]">/</span>work.
    </h1>
    <p class="flex justify-center text-[16px] sm:text-[20px] font-[700] text-[#cb2525]">
      Selected projects I've worked on in the past.
    </p>
  </div>


  <div class="work-section pb-[5rem]">
    <div class="w-[80%] sm:w-[90%] md:w-[85%] lg:w-[80%] xl:w-[75%] 2xl:w-[70%] m-auto">
      <ul class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-5">
        <li class="E-training h-[20rem] bg-[#f9f8fd]">
          <a href="https://corporate.10minuteschool.com/training.php" target="_blank">
            <div class=" h-[70%] flex text-center items-center justify-center">
              <div class="flex items-end">
                <img class="w-[7rem] md:w-[8rem] lg:w-[9rem] xl:w-[10rem]" src="../../assets/image/10ms-black.png"
                  alt="../../assets/image/10ms-black.png">
                <p class="border-l-[1px] pl-[5px] pt-[5px] mb-[6px] border-[#57585a]">Training App</p>
              </div>
            </div>
            <div class=" text-center p-[33px] bg-[#fff]">
              <h1 class="text-[20px] font-[700] text-[#212121]">E-Training</h1>
            </div>
          </a>
        </li>

        <li class="E-training h-[20rem] bg-[#f9f8fd]">
          <a href="https://10minuteschool.com/" target="_blank">
            <div class=" h-[70%] flex text-center items-center justify-center">
              <div class="">
                <img class="w-[7rem] md:w-[8rem] lg:w-[9rem] xl:w-[10rem]" src="../../assets/image/10ms-black.png"
                  alt="../../assets/image/10ms-black.png">
              </div>
            </div>
            <div class=" text-center p-[33px] bg-[#fff]">
              <h1 class="text-[20px] font-[700] text-[#212121]">10 Minute School</h1>
            </div>
          </a>
        </li>

        <li class="E-training h-[20rem] bg-[#f9f8fd]">
          <a href="https://affiliation.10minuteschool.com/" target="_blank">
            <div class=" h-[70%] flex text-center items-center justify-center">
              <div class="">
                <img class="w-[7rem] md:w-[8rem] lg:w-[9rem] xl:w-[10rem]" src="../../assets/image/AffiliationLogo.webp"
                  alt="../../assets/image/10ms-black.png">
              </div>
            </div>
            <div class=" text-center p-[33px] bg-[#fff]">
              <h1 class="text-[20px] font-[700] text-[#212121]">Affiliate Dashboard</h1>
            </div>
          </a>
        </li>

        <li class="E-training h-[20rem] bg-[#f9f8fd]">
          <a href="https://aff-admin.10minuteschool.com/auth/signin" target="_blank">
            <div class=" h-[70%] flex text-center items-center justify-center">
              <div class="">
                <img class="w-[7rem] md:w-[8rem] lg:w-[9rem] xl:w-[10rem]" src="../../assets/image/AffiliationLogo.webp"
                  alt="../../assets/image/10ms-black.png">
              </div>
            </div>
            <div class=" text-center p-[33px] bg-[#fff]">
              <h1 class="text-[20px] font-[700] text-[#212121]">Affiliate Admin</h1>
            </div>
          </a>
        </li>

        <li class="E-training h-[20rem] bg-[#f9f8fd]">
          <a href="http://192.168.0.109:4200/hridoyahmed" target="_blank">
            <div class=" h-[70%] flex text-center items-center justify-center">
              <div class="">
                <a routerLink="/hridoyahmed" class="logo text-[#cb2525] text-[40px] font-[700]">Hridoy <span
                    class="text-[#d4af37]">Ahmed</span></a>
              </div>
            </div>
            <div class=" text-center p-[33px] bg-[#fff]">
              <h1 class="text-[20px] font-[700] text-[#212121]">Hridoyahmed.dev</h1>
            </div>
          </a>

        </li>
      </ul>
    </div>
    <div class="flex justify-center">
      <div class="grid grid-cols-3 mb-[2rem]">

      </div>
    </div>
  </div>
</div>

<!-- Footer -->